* {
    margin: 0 auto;
}

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    margin-bottom: 40px;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined', sans-serif;
    font-size: 6rem !important;
}

#Logo {
    color: white;
    font-size: 45px;
    letter-spacing: 4px;
    font-family: "Bowlby One SC", sans-serif;
}
