@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: sans-serif;
}

.container {
    text-align: center;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; 
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined', sans-serif;
    font-size: 6rem !important;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 0px -4px 10px rgba(0, 0, 0, 0.3);
}

#Logo {
    color: white;
    font-size: 4.9rem;
    letter-spacing: 5px;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(0, 0, 0, 0.3);
}

.nav-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: fixed;
    top: 0;
    background-color: black;
    color: black;
    padding: 12px 20px;
    z-index: 1000;
}

.smallLogo #miniLogo {
    font-size: 2.5rem !important;
    color: white;
}

.menu {
    display: flex;
}

.menu li {
    padding-left: 30px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: 0.5s ease-in-out;
    text-transform: uppercase;
    color: black;
    position: relative;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: black;
    transition: 0.5s ease;
}

.menu li a:hover:after {
    width: 100%;
}

.open-menu {
    position: absolute;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
} 

.close-menu {
    position: absolute;
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
} 

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 50%;
    right: 20px;
}

#check {
    display: none;
}

@media(max-width: 610px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: white;
        transition: all 0.4s ease-in-out;
    }
    
    .menu li {
        margin-top: 40px;
    }

    .menu li a {
        padding: 10px;
    }

    .open-menu, .close-menu {
        display: block;
    }
    #check:checked ~ .menu {
        right: 0;
    }
}

.containerLogIn {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
}

.containerLogIn span {
    color: white;
    font-size: 2rem;
    transition: 0.4s ease-in-out;
}

#LogInSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.login-wrapper {
    width: 414px;
    background: transparent;
    border-radius: 12px;
    padding: 30px 40px;
}

.containerLogIn a {
    color: rgb(198, 152, 236);
}

.login-wrapper h1, .register-wrapper h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.login-wrapper .input-container, .register-wrapper .input-container {
    width: 100%;
    margin-bottom: 20px; 
}

.input-container label {
    color: #fff;
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

.input-container input {
    width: calc(100% - 10px);
    background: transparent;
    border: 2px solid rgba(198, 152, 236, 0.6);
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    padding: 10px;
}

.input-container input::placeholder {
    color: #fff;
}

.login-wrapper .login-btn, .register-wrapper .register-btn {
    width: 100%;
    height: 45px;
    background: rgb(198, 152, 236);
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    color: #000000;
    font-weight: 600;
    box-shadow: rgba(29, 31, 32, 0.3) 0px 1px 2px 0px, rgba(29, 31, 32, 0.15) 0px 2px 6px 2px;
}

.register-wrapper .close-btn {
    margin-top: .6rem;
    width: 100%;
    height: 45px;
    background: rgb(207, 207, 207);
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    color: black;
    font-weight: 600;
    box-shadow: rgba(29, 31, 32, 0.3) 0px 1px 2px 0px, rgba(29, 31, 32, 0.15) 0px 2px 6px 2px;
}

#RegisterSection {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-wrapper {
    width: 400px;
    background: rgb(0, 0, 0);
    border-radius: 12px;
    padding: 30px 40px;
    color: white;
    position: relative;
    margin: auto;
    top: 50%; 
    transform: translateY(-50%);
    border: 2px rgb(198, 152, 236) solid;
}

.register-wrapper label{
    color: white;
}

.register-wrapper input{
    color: white;
}

.login-wrapper .register-link p a {
    color: rgb(198, 152, 236);
    text-decoration: none;
    font-weight: bold;
}

.login-wrapper .register-link p a:hover {
    text-decoration: underline;
}

.login-wrapper .register-link {
    font-size: .9rem;
    text-align: center;
    margin: 20px 0 15px;
}

/* LoggedIn */
.username {
    text-align: center;
    font-size: 2rem;
    margin-top: 3rem;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
}

#indexPicture {
    position: relative;
    text-align: center;
}

#indexPicture img{
    height: 35rem;
    width: fit-content;
    border-radius: 8px 8px 0 0;
}

#indexP {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12rem;
}

#indexP, #indexPUnder {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 10px;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 0px -4px 10px rgba(0, 0, 0, 0.3);
}

#indexPUnder {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.3rem;
}

#indexPicture::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, transparent, black);
    z-index: 0;
}

#indexWeeks p {
    margin-top: .4rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    color: rgb(198, 152, 236);
}

#indexUndertext p {
    padding-top:.8rem;
    text-align: center;
    letter-spacing: 1px;
    font-size: .8rem;
    width: 370px;
    margin: 0 auto;
}

.Dots {
    margin-top: .5rem;
    text-align: center;
    font-size: 1rem;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#buttonGet {
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: rgb(198, 152, 236);
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
}

#buttonGet a {
    text-decoration: none;
    color: rgb(198, 152, 236);
}

#buttonGet span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid rgb(198, 152, 236);
}

#ProgramH1 {
    margin-top: 4rem;
    text-align: center;
    font-family: "Bebas Neue";
    letter-spacing: 5px;
    font-size: 3rem;
}

#programBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cards {
    display: flex;
    flex-direction: column;
}

.card {
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.cardContainer {
    width: 100%;
    height: 200px;
    overflow: hidden; 
}

.cardContainer img {
    width: auto;
    height: 15rem;
    object-fit: cover;
}

.details {
    padding: 10px;
    text-align: center;
}
